<div class="post" *ngIf="post">
    <a routerLink="/post/{{post.nameurl}}" class="title">{{post.name}}</a>
    <div class="subtitle">
        posted in <span class="underline">{{post.categoryname}}</span>
        on <span class="underline">{{post.datepublished | date:'longDate'}}</span>
            <span *ngIf="post.authorname">
                by <span class="underline">{{post.authorname | shortEmail}}</span>
            </span>
        <ng-container *ngIf="post.commentcount > 0">
            &nbsp;
            <fa name="comment"></fa>
            &nbsp;
            {{post.commentcount}} {{(post.commentcount > 1 ? 'comments' : 'comment')}}
        </ng-container>
        <ng-container *ngIf="post.favoritecount > 0">
            &nbsp;
            <fa name="heart"></fa>
            &nbsp;
            {{post.favoritecount}} {{(post.favoritecount > 1 ? 'favorites' : 'favorite')}}
        </ng-container>

    </div>
    <div class="preview-image" *ngIf="post.previewimage">
        <img src="{{post.previewimage}}">
    </div>
    <div class="content" [innerHTML]="post.content | blurbify">
    </div>
    <a class="continue-reading" routerLink="/post/{{post.nameurl}}">
        Continue Reading
        <fa name="long-arrow-right"></fa>
    </a>
</div>