<div *ngIf="post">
    <div class="post" *ngIf="post">
        <div class="title">{{post.name}}</div>
        <div class="subtitle">
            posted in <span>{{post.categoryname}}</span>
            on <span>{{post.datepublished | date:'longDate'}}</span>
            by <span>{{post.authorname | shortEmail}}</span>
        </div>
        <div class="preview-image" *ngIf="post.previewimage">
            <img src="{{post.previewimage}}">
        </div>
        <div class="content" [innerHTML]="post.content | safeStyle">
        </div>
        <div class="tag-section">
            <div>
                <fa name="tag"></fa>
            </div>
            <div class="tag-list">
                <span class="tag" *ngFor="let tag of post.tags; let i=index">
                    <span class="name">
                        {{tag.name}}
                    </span>
                    <span *ngIf="i<post.tags.length-1">
                        ,
                    </span>
                </span>
            </div>
        </div>
        <!-- <a routerLink="/manage-post/{{post.id}}">Edit</a> -->
    </div>
    <div class="favorite-section">
        <button class="favorite-button" (click)="toggleFavorite()">
            <fa name="heart"></fa>
            <span class="favorite-count">{{post.favorites.length}}</span>
        </button>
        <span class="you-liked-this" *ngIf="youLikedThis">You liked this.</span>
        <button class="edit-button" routerLink="/manage-post/{{post.id}}"  *ngIf="user && user.id === post.authorid">
            <fa name="pencil"></fa>
            Edit
        </button>
    </div>
    <div class="comment-section">
        <div class="title">Create your Reply</div>
        <ng-container *ngIf="user; else notLoggedIn">
            <div class="editor">
                <div #editor [froalaEditor]="options" [(froalaModel)]="newReplyContent"></div>
                <button class="submit" (click)="reply()">Post Comment</button>
            </div>
        </ng-container>
        <ng-template #notLoggedIn>
            <a routerLink="/login">Log in</a> to join the discussion.
        </ng-template>
        <div class="other-comments" *ngIf="post.comments.length > 0">
            <div class="title">
                {{post.commentcount}} Comment{{post.commentcount > 1 ? 's' : ''}}
                <span class="subtitle">{{post.name}}</span>
            </div>
            <app-comment *ngFor="let comment of post.comments" [postAuthor]="post.authorid" [currentUser]="user" [comment]="comment"></app-comment>
        </div>
    </div>
</div>