<div class="container">
    <div class="message" *ngIf="invalidated">Please fill in all fields.</div>
    <div class="message" *ngIf="failed">Your email is already used.</div>
    <div class="input">
        <input spellcheck="false" name="email" [(ngModel)]="email" placeholder="Email">
    </div>
    <div class="input">
        <input spellcheck="false" name="password" type="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <button (click)="register()" name="register">Sign Up</button>
    <a routerLink="/login">Already had an account? Log in</a>
</div>