<div class="comment-container">
    <svg class="avatar" width="80" height="80" [jdenticonHash]="comment.commentername">
    </svg>
    <div [ngClass]="{'comment': true, 'by-author': currentUser && currentUser.id === comment.commenterid}">
        <div class="dog-ear">&nbsp;</div>
        <div class="header">
            <div class="commenter">{{comment.commentername | shortEmail}}</div>
            <div class="date-commented">{{comment.datecommented | fromNow}}</div>
        </div>
        <div class="content" [innerHTML]="comment.content">
        </div>
        <button *ngIf="currentUser" class="reply" (click)="showReplyBox=!showReplyBox">Reply</button>
    </div>
    <div class="reply-box" *ngIf="showReplyBox">
        <div [froalaEditor]="options" [(froalaModel)]="newReplyContent"></div>
        <button class="black-button" (click)="reply()">Submit</button>
    </div>
    <app-comment *ngFor="let child of comment.children" [currentUser]="currentUser" [comment]="child"></app-comment>
</div>