.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted lightgray;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.title {
    font-size: 60px;
    font-weight: 100;
    padding: 20px 0;
    border-bottom: 1px dotted lightgray;
}

.subtitle {
    padding: 40px 0;
    font-size: 14px;
}

.toolbar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 15px;
}

.toolbar .item {
    padding: 20px;
}

.toolbar fa {
    display: inline-block;
    padding-right: 10px !important;
}