<div class="container">
    <a routerLink="/" class="title">
        Read
    </a>
    <div class="subtitle">
        ...a minimalistic blog focused on readability.
    </div>
</div>
<div class="toolbar">
    <ng-container *ngIf="user; else guest">
        <span class="item">
            <fa name="user-circle-o"></fa>
            <a routerLink="/me">Hi, {{shortEmail}}</a>
        </span>
        <span *ngIf="isJournalist" class="item">
            <fa name="pencil"></fa>
            <a routerLink="/new-post">New Post</a>
        </span>
        <span class="item">
            <a routerLink="/" (click)="logout()">Log Out</a>
        </span>
    </ng-container>
    <ng-template #guest>
        <span class="item">
            <a routerLink="/login">Login</a>
        </span>
    </ng-template>
</div>