<div>
    <div class="categories">
        <button [ngClass]="{'fake-button': true, 'active': !categoryId}" (click)="categoryId=null; refilter()">All</button>
        <button [ngClass]="{'fake-button': true, 'active': categoryId === category.id}" *ngFor="let category of categories"
            (click)="categoryId=category.id; refilter()">{{category.name}}</button>
        <button [ngClass]="{'fake-button': true}" (click)="toggleSearch()" [@showHideSearch]="showSearch? 'hide' : 'cover'">Search</button>
        <input #searchInput (blur)="onBlurSearch()" [@showHideSearch]="showSearch? 'show' : 'hide'" class="search"
            [(ngModel)]="search" (input)="refilter()" />
        <fa name="search" (click)="toggleSearch()"></fa>
    </div>
    <app-post [post]="post" *ngFor="let post of (filteredPosts | paginate:page:pageSize)"></app-post>
    <div class="footer">
        <div class="page-size">
            Show
            <select [(ngModel)]="pageSize" (ngModelChange)="repaginate(1)">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            results
        </div>
        <app-pagination [total]="filteredPosts.length" [pageSize]="pageSize" (pageChanged)="repaginate($event)"></app-pagination>
    </div>
</div>